Repository rafaumeu/linkedin-fetcher1, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, dependencies, documentation, configuration

chore(yarn): update lock file
  yarn.lock
Labels: dependencies

feat(passport): add passport configuration for LinkedIn
  src/config/passport.ts
Labels: none

feat(validateSchema): add schema validation middleware
  src/middlewares/validateSchema.ts
Labels: none

feat(swagger): add Swagger setup for API documentation
  src/swagger.ts
Labels: none

chore(swagger): update Swagger JSON documentation
  swagger.json
Labels: none

chore(swagger): update Swagger JSON documentation
  swagger.json
Labels: none

fix(passport): update LinkedIn strategy configuration
  src/config/passport.ts
Labels: none

feat(linkedin): enhance authentication routes
  src/routes/linkedin.ts
Labels: none

fix(server): improve server initialization and environment logging
  src/server.ts
Labels: backend

fix(LinkedInAuthService): update LinkedIn authentication logic
  src/services/LinkedInAuthService.ts
Labels: backend

fix(environment): update environment variable validation
  src/config/environment.ts
Labels: none

feat(LinkedInController): enhance profile retrieval logic
  src/controllers/LinkedInController.ts
Labels: none

fix(release): update changelog command to use specific tags
  .github/workflows/release.yml
Labels: configuration

feat(linkedin): implement profile retrieval endpoint
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/inputs.yml
  .github/workflows/lint.yml
Labels: configuration

chore(workflows): update Node.js version to 21.1.0
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Labels: configuration

chore(workflows): update linting commands
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Labels: configuration

feat: Update CI workflow and README
  .github/workflows/ci.yml
  README.md
  package.json
  yarn.lock
Labels: dependencies, documentation, configuration

feat: Add security policy and code scanning workflow
  .github/workflows/code-scanning.yml
  SECURITY.MD
  src/services/LinkedInAuthService.test.ts
  vitest.config.ts
Labels: backend, configuration

feat: Enhance security and automation workflows
  .github/workflows/code-scanning.yml
Labels: configuration

fix: Update Node.js version in workflows and add Vitest types
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  package.json
Labels: dependencies, configuration

fix: Update Node.js version in workflows
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/code-scanning.yml
  .github/workflows/token-validation.yml
Labels: configuration

.github/labeler.yml:

frontend:
- src/pages/**/*
- src/components/**/*

backend:
- src/server.ts
- src/services/**/*

dependencies:
- package.json
- yarn.lock

documentation:
- '**/*.md'
- docs/**/*

configuration:
- .github/**/*
- '*.config.js'
- '*.config.ts'
