Repository rafaumeu/linkedin-fetcher1, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, dependencies, documentation, configuration

feat: add core LinkedIn fetcher functionality
  src/config.ts
  src/env.ts
  src/index.ts
  src/server.ts
  src/services/CacheService.ts
  src/services/LinkedInAuthService.ts
  src/services/LinkedInScrapper.ts
  src/types/LinkedInResponse.ts
  src/types/Profile.ts
  src/types/linkedin.ts
Labels: backend

chore(project): add GitHub project board configuration
  .github/projects/linkedin-fetcher.yml
Labels: configuration

build(config): update project configuration files
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  biome.json
  tsconfig.json
  vercel.json
Labels: configuration

build(deps): update project dependencies
  package.json
  yarn.lock
Labels: dependencies

refactor(types): improve TypeScript type definitions
  src/types/Profile.ts
  src/types/linkedin.ts
Labels: none

refactor(services): improve service layer architecture
  src/services/CacheService.ts
  src/services/LinkedInAuthService.ts
  src/services/LinkedInScrapper.ts
Labels: backend

refactor(core): improve application structure
  src/index.ts
  src/server.ts
Labels: backend

chore(release): update release workflow for automated versioning
  .github/workflows/release.yml
Labels: configuration

docs: update README with new features and setup instructions
  README.md
Labels: documentation

chore: update .gitignore to exclude unnecessary files
  .gitignore
Labels: none

chore: update package.json dependencies and scripts
  package.json
Labels: dependencies

fix(config): correct configuration settings
  src/config.ts
Labels: none

feat: initialize application and validate environment
  src/index.ts
Labels: none

feat(server): setup Express server and Redis connection
  src/server.ts
Labels: backend

feat(auth): enhance LinkedIn authentication flow
  src/services/LinkedInAuthService.ts
Labels: backend

refactor(cache): improve cache service methods and error handling
  src/services/CacheService.ts
Labels: backend

feat(scraper): implement LinkedIn profile scraping logic
  src/services/LinkedInScrapper.ts
Labels: backend

types: update LinkedIn response types for better type safety
  src/types/LinkedInResponse.ts
Labels: none

types: define profile types for LinkedIn data
  src/types/Profile.ts
Labels: none

types: add LinkedIn specific types for API integration
  src/types/linkedin.ts
Labels: none

chore: update yarn.lock after dependency changes
  yarn.lock
Labels: dependencies

feat(controllers): add controllers for handling LinkedIn API requests
  src/controllers/LinkedInController.ts
Labels: none

feat(config): add configuration files for application settings
  src/config/environment.ts
Labels: none

feat(errors): implement custom error handling
  src/errors/LinkedInAuthError.ts
Labels: none

feat(middlewares): add middleware for request validation
  src/middlewares/auth.ts
Labels: none

feat(lib): add utility functions and libraries
  src/lib/redis.ts
Labels: none

feat(routes): define routes for LinkedIn API endpoints
  src/routes/linkedin.ts
Labels: none

feat(schemas): add schemas for data validation
  src/schemas/linkedin.ts
Labels: none

types(auth): define types for authentication requests
  src/types/auth.ts
Labels: none

types(requests): add types for API request payloads
  src/types/requests.ts
Labels: none

chore: remove unused environment file
  src/env.ts
Labels: none

fix: remove semantic release dependencies and set Node.js version to 20
  .github/workflows/cache-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/token-validation.yml
  package.json
  yarn.lock
Labels: dependencies, configuration

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: none

fix(project-automation): update automation workflow
  .github/workflows/project-automation.yml
Labels: configuration

chore(package): update dependencies
  package.json
Labels: dependencies

fix(environment): update environment configuration
  src/config/environment.ts
Labels: none

feat(LinkedInController): enhance profile fetching logic
  src/controllers/LinkedInController.ts
Labels: none

fix(routes): update LinkedIn routes
  src/routes/linkedin.ts
Labels: none

fix(server): improve server configuration
  src/server.ts
Labels: backend

feat(LinkedInAuthService): add authentication improvements
  src/services/LinkedInAuthService.ts
Labels: backend

.github/labeler.yml:

frontend:
- src/pages/**/*
- src/components/**/*

backend:
- src/server.ts
- src/services/**/*

dependencies:
- package.json
- yarn.lock

documentation:
- '**/*.md'
- docs/**/*

configuration:
- .github/**/*
- '*.config.js'
- '*.config.ts'
